<div class="row marketing">
  <select ng-model="search.type">
    <option value="">All</option>
    <option ng-repeat="type in types" value="{{type}}">{{type}}</option>
  </select>
  ingredient only <input ng-model="search.ingredients">

  <div range-slider min="sliderConfig.min" max="sliderConfig.max" model-min="sliderConfig.userMin" model-max="sliderConfig.userMax" attach-handle-values="true" show-values="true"></div>

  <p>And here are the values in our model being updated: <br/>
    <strong>Min</strong>
    <input type="text" class="input-small ng-pristine ng-valid" ng-model="sliderConfig.userMin">
    <strong>Max</strong>
    <input type="text" class="input-small ng-pristine ng-valid" ng-model="sliderConfig.userMax">
  </p>

  Sort by:
  <select ng-model="orderProperty">
    <option value="">No sorting</option>
    <option ng-repeat="prop in sortProperties" value="{{prop.value}}">{{prop.text}}</option>
  </select>

  <ul ng-repeat="recipe in recipes | filter:search | rangeFilter:sliderConfig | orderBy:orderProperty">
    <li >{{recipe.type}}
      <a href="#/recipe/{{recipe.objectId}}" >go</a></li>
    <li>{{recipe.name}}</li>
    <li>{{recipe.description}}</li>
  </ul>

</div>
