<div class="row">
  <div class="col-xs-12">
    <div class="filter-block">
      <div>
        <label for="type">Meal:</label>
        <select id="type" ng-model="search.type">
          <option value="">All meals</option>
          <option ng-repeat="type in types" value="{{type}}">{{type}}</option>
        </select>
      </div>
      <div>
        <label for="search">Search ingredient:</label>
        <input id="search" type="text" ng-model="search.ingredients" placeholder="Search" />
      </div>
      <div>
        <div class="time-label">Ready in:</div>
        <div range-slider
             min="sliderConfig.min"
             max="sliderConfig.max"
             model-min="sliderConfig.userMin"
             model-max="sliderConfig.userMax"
             attach-handle-values="true"
             show-values="true">
        </div>
      </div>
      <div>
        <a href="" ng-click="resetFilters()">Show all recipes</a>
      </div>
    </div>
  </div>
</div>
<div>
  <label for="sorting">Sort by:</label>
  <select ng-model="orderProperty" id="sorting">
    <option value="">No sorting</option>
    <option ng-repeat="prop in sortProperties" value="{{prop.value}}">{{prop.text}}</option>
  </select>
</div>




  total items: {{totalItems}}
  pages:{{noOfPages}}



<div class="row">
  <div class="col-xs-12">
    <ul>
      <li ng-repeat="recipe in filteredSlider = recipes
        | filter:search
        | rangeFilter: sliderConfig
        | orderBy:orderProperty
        | startFrom:(currentPage-1)*entryLimit
        | limitTo:entryLimit">
        <a href="#/recipe/{{recipe.objectId}}">
          <span>
            <img src="{{recipe.image.url}}" alt=""/>
          </span>
          <span>
            <span>Ready in: {{recipe.cookingTime}} min</span>
            <span>Likes: {{recipe.userLikes.length}}</span>
          </span>
          <span>{{recipe.name}}</span>
          <span>{{recipe.description}}</span>
        </a>
      </li>
    </ul>
  </div>
</div>

<pagination page="currentPage" max-size="noOfPages" total-items="totalItems" items-per-page="entryLimit"></pagination>
