<div>
  {{recipe.type}} <br/>
  {{recipe.name}}<br/>
  {{recipe.description}} <br/>gogo <br/>
  <img src="{{recipe.image.url}}" alt=""/>

  <div range-slider min="0" max="100" model-min="demo1.min" model-max="demo1.max"></div>

  <p>And here are the values in our model being updated:
    <strong>Min</strong>
    <input type="text" class="input-small ng-pristine ng-valid" ng-model="demo1.min">
    <strong>Max</strong>
    <input type="text" class="input-small ng-pristine ng-valid" ng-model="demo1.max"></p>
</div>

<div>
  {{clientIp}} <br/>
  <!--{{recipe.userLikes.length}}-->

  {{numberUserLikes}} <br/>
  <input ng-model="recipe.test" type="text"/>
  {{recipe.test}}
  <a href="" ng-click="addUserLike()">+</a>
</div>
