<div class="row">
  <div class="col-xs-12">

  </div>

  <h1>{{recipe.name}}</h1>
  <h2>{{recipe.description}}</h2>

  <img src="{{recipe.image.url}}" alt=""/> <br/>
  {{recipe.instructions}} <br/>
  <!--{{recipe.ingredients}} <br/>-->
  {{recipe.cookingTime}} <br/>
  {{recipe.createdAt}} <br/>
  <span ng-if="time.hours > 0">{{time.hours}} hr</span>
  <span ng-if="time.minutes > 0">{{time.minutes}} min</span>
   {{cookingTimeMinutes}}

  <ul>
    <li ng-repeat="ingr in recipe.ingredients">{{ingr}}</li>
  </ul>
</div>

<div>

  {{recipe.userLikes.length}}
  <a href="" ng-click="addUserLike()">+</a>
</div>
